.orders__table-container {
	width: 100%;
	overflow-x: auto;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}

.orders__table {
	width: 100%;
	border-collapse: collapse;
}

.orders__table th,
.orders__table td {
	text-align: left;
	padding: 12px 15px;
	border: 1px solid #dddddd;
}

.orders__table th {
	background-color: #333;
	color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.orders__table,
	.orders__table thead,
	.orders__table tbody,
	.orders__table th,
	.orders__table td,
	.orders__table tr {
		display: block;
	}

	.orders__table thead {
		display: none;
	}

	.orders__table-row {
		margin-bottom: 1rem;
		border-bottom: 2px solid #dddddd;
		padding-bottom: 1rem;
	}

	.orders__table td {
		display: block;
		text-align: right;
		padding-left: 50%;
		position: relative;
	}

	.orders__table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-weight: bold;
		text-align: left;
		background-color: #f0f0f0;
		border-right: 1px solid #ddd;
	}
}
