.product {
	background-color: var(--white);
	padding: 1rem;
	width: 30%;
	display: flex;
	flex-direction: column;
}
.product img {
	width: 100%;
}

.product_info {
	display: flex;
	flex-direction: column;
}

.product_info-name {
	color: var(--brown);
	font-weight: 700;
	font-size: 1.1rem;
	margin-top: 0.5rem;
}

.product_info-numbers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.product_info-numbers_price {
	color: var(--dark-brown);
	font-weight: 700;
	font-size: 1.1rem;
}
.product_info-numbers_rating {
	color: var(--dark-brown);
}

.product_btn {
	width: 100%;
	background-color: var(--dark-brown);
	color: var(--cream);
	border: none;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	margin-top: 0.3rem;
	transition: background-color 0.2s;
}
.product_btn:hover {
	background-color: var(--brown);
}
