.register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: var(--cream);
}

.register__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	gap: 10px;
	background-color: var(--white);
	padding: 2rem 2.5rem;
	border-radius: 5px;
}

.register__form h2 {
	color: var(--dark-brown);
	width: 100%;
	margin-bottom: 10px;
}

.register__form-input {
	width: 100%;
}

.register__form label {
	width: 100%;
	font-size: 1rem;
}
.register__form input {
	width: 100%;
	padding: 8px 13px;
	font-size: 1rem;
	border: 1px solid var(--dark-brown);
	border-radius: 4px;
}
.register__form input:focus {
	outline: none;
}

.register__form-btn {
	background-color: var(--dark-brown);
	color: var(--cream);
	margin-top: 10px;
	cursor: pointer;
	transition: all 125ms;
}

.register__form-btn:hover {
	background-color: var(--brown);
	border-color: var(--brown);
}

.register__form p {
	width: 100%;
}

.register__form p a {
	font-weight: 700;
	color: var(--brown);
}
